<h4>New Visit</h4>
<% form_tag visit_path, :method => :post do %>
  <p>
    
    <%= label_tag :coloft_id %><br />
    <%= text_field_tag :coloft_id %>
  </p>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>
<%= link_to 'Back', members_path %>
<%= set_focus_to_id 'coloft_id' %>
