<h1>Listing users</h1>

<table>
  <tr>
    <th>Plan</th>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Avatar</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.plan %></td>
    <td><%=h user.name %></td>
    <td><%=h user.address %></td>
    <td><%=h user.phone %></td>
    
    <td><%= image_tag user.avatar.url, {:class => 'resize'}%></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>