<h1>Coloft Members</h1>

<table>
  <tr>
    <th>Avatar</th>   
    <th>Name</th>
    <th>Coloft ID</th>
    <th>Plan</th>
    <th>Visits</th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= image_tag member.avatar.url, {:class => 'thumb'}%></td>
    <td><%=h member.name %></td>
    <td><%=h member.coloft_id %></td>
    <td><%=h member.primary_plan_name %></td>
    <td><%=h member.visits.count %></td>
    
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New member', new_member_path %>