<h1>New member</h1>

<% form_for(@member) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= plan_select_for @member%><br />
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <%= render :partial => "avatar_loader", :locals => {:f => f} %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', members_path %>