<h1><%=h @member.name %></h1>
<p>
  <b>Name:</b>
  <%=h @member.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @member.address %>
</p>

<p>
  <b>Phone:</b>
  <%=h @member.phone %>
</p>

<p>
  <b>Avatar:</b><br/>
  <%= image_tag @member.avatar.url, {:class => 'middle'} %>
</p>
<p>
  <b>Plan:</b>
  <%=h @member.primary_plan_name %>
</p>
<p>
  <b>Coloft ID:</b>
  <%=h @member.coloft_id %>
</p>
<p>
  <b>Visits This Month:</b>
  <%=h @member.visits.this_month.count %>
</p>
<p>
  <b>Total Visits:</b>
  <%=h @member.visits.count %>
</p>
<p>
<b>Visit History</b>
<% @member.visits.each do |visit| %>
    <p><%=h visit.created_at.localtime %></p>
<% end %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>