<h1>Check in Visualization</h1>

<table>
  
  <tbody class="row8">
  <tr>
  <th class="checkinvisual">8</th>
  <% @members.each do |member| %>
    <%if member.visits.today %>
      <%if Integer(member.visits.today.recent[0].visit_hour) == 8 %>
        <td class="member">
          <%= image_tag member.avatar.url, {:class => 'thumb'}%>
          <p><%=h member.first_name %></p>
          <p><%=h member.visits.today.recent[0].short_local_time %></p>
        </td>
      <% end %>
    <% end %>
  <% end %>
  </tr>
  </tbody>
  
  <tbody class="row9">
  <tr>
  <th class="checkinvisual">9</th>
  <% @members.each do |member| %>
    <%if member.visits.today %>
      <%if Integer(member.visits.today.recent[0].visit_hour) == 9 %>
        <td class="member">
          <%= image_tag member.avatar.url, {:class => 'thumb'}%>
          <p><%=h member.first_name %></p>
          <p><%=h member.visits.today.recent[0].short_local_time %></p>
        </td>
      <% end %>
    <% end %>
  <% end %>
  </tr>
  </tbody>
  
  <tbody class="row10">
  <tr>
  <th class="checkinvisual">10</th>
  <% @members.each do |member| %>
    <%if member.visits.today %>
      <%if Integer(member.visits.today.recent[0].visit_hour) == 10 %>
        <td class="member">
          <%= image_tag member.avatar.url, {:class => 'thumb'}%>
          <p><%=h member.first_name %></p>
          <p><%=h member.visits.today.recent[0].short_local_time %></p>
        </td>
      <% end %>
    <% end %>
  <% end %>
  </tr>
  </tbody>
  
  <tbody class="row11">
  <tr>
  <th class="checkinvisual">11</th>
  <% @members.each do |member| %>
    <%if member.visits.today %>
      <%if Integer(member.visits.today.recent[0].visit_hour) == 11 %>
        <td class="member">
          <%= image_tag member.avatar.url, {:class => 'thumb'}%>
          <p><%=h member.first_name %></p>
          <p><%=h member.visits.today.recent[0].short_local_time %></p>
        </td>
      <% end %>
    <% end %>
  <% end %>
  </tr>
  </tbody>
  
  <tbody class="row12">
  <tr>
  <th class="checkinvisual">12</th>
  <% @members.each do |member| %>
    <%if member.visits.today %>
      <%if Integer(member.visits.today.recent[0].visit_hour) == 12 %>
        <td class="member">
          <%= image_tag member.avatar.url, {:class => 'thumb'}%>
          <p><%=h member.first_name %></p>
          <p><%=h member.visits.today.recent[0].short_local_time %></p>
        </td>
      <% end %>
    <% end %>
  <% end %>
  </tr>
  </tbody>
  
  <tbody class="row1">
  <tr>
  <th class="checkinvisual">1</th>
  <% @members.each do |member| %>
    <%if member.visits.today %>
      <%if Integer(member.visits.today.recent[0].visit_hour) == 1 %>
        <td class="member">
          <%= image_tag member.avatar.url, {:class => 'thumb'}%>
          <p><%=h member.first_name %></p>
          <p><%=h member.visits.today.recent[0].short_local_time %></p>
        </td>
      <% end %>
    <% end %>
  <% end %>
  </tr>
  </tbody>
  
  <tbody class="row2">
  <tr>
  <th class="checkinvisual">2</th>
  <% @members.each do |member| %>
    <%if member.visits.today %>
      <%if Integer(member.visits.today.recent[0].visit_hour) == 2 %>
        <td class="member">
          <%= image_tag member.avatar.url, {:class => 'thumb'}%>
          <p><%=h member.first_name %></p>
          <p><%=h member.visits.today.recent[0].short_local_time %></p>
        </td>
      <% end %>
    <% end %>
  <% end %>
  </tr>
  </tbody>
  
  <tbody class="row3">
  <tr>
  <th class="checkinvisual">3</th>
  <% @members.each do |member| %>
    <%if member.visits.today %>
      <%if Integer(member.visits.today.recent[0].visit_hour) == 3 %>
        <td class="member">
          <%= image_tag member.avatar.url, {:class => 'thumb'}%>
          <p><%=h member.first_name %></p>
          <p><%=h member.visits.today.recent[0].short_local_time %></p>
        </td>
      <% end %>
    <% end %>
  <% end %>
  </tr>
  </tbody>
  
  <tbody class="row4">
  <tr>
  <th class="checkinvisual">4</th>
  <% @members.each do |member| %>
    <%if member.visits.today %>
      <%if Integer(member.visits.today.recent[0].visit_hour) == 4 %>
        <td class="member">
          <%= image_tag member.avatar.url, {:class => 'thumb'}%>
          <p><%=h member.first_name %></p>
          <p><%=h member.visits.today.recent[0].short_local_time %></p>
        </td>
      <% end %>
    <% end %>
  <% end %>
  </tr>
  </tbody>
  
  <tbody class="row5">
  <tr>
  <th class="checkinvisual">5</th>
  <% @members.each do |member| %>
    <%if member.visits.today %>
      <%if Integer(member.visits.today.recent[0].visit_hour) == 5 %>
        <td class="member">
          <%= image_tag member.avatar.url, {:class => 'thumb'}%>
          <p><%=h member.first_name %></p>
          <p><%=h member.visits.today.recent[0].short_local_time %></p>
        </td>
      <% end %>
    <% end %>
  <% end %>
  </tr>
  </tbody>
  
  <tbody class="row6">
  <tr>
  <th class="checkinvisual">6</th>
  <% @members.each do |member| %>
    <%if member.visits.today %>
      <%if Integer(member.visits.today.recent[0].visit_hour) == 6 %>
        <td class="member">
          <%= image_tag member.avatar.url, {:class => 'thumb'}%>
          <p><%=h member.first_name %></p>
          <p><%=h member.visits.today.recent[0].short_local_time %></p>
        </td>
      <% end %>
    <% end %>
  <% end %>
  </tr>
  </tbody>
  
</table>